
.container {
  width:90vw;
  height: 150px;

  margin: 150px auto;
}

.tablecontainer {
  width:120px;
  height: 150px;
float: left;
margin: auto;
}

.graytable {
  width: 22.5vw;
  height:40px;
  background-color: gray;
  float: left;
}
.whitetable {
  width: 22.5vw;
  height:40px;
  background-color: white;
  float: left;
}

.header {
width: 100%;
background-color: tan;
height: auto;

}

.mainText {
width:100% ;
background-color: tan;
height: auto;
margin-top: 50px;
}


.image {
  width:100% ;
  background-color: white;
  height: auto;
  margin-top: 50px;


}

@media only screen and (max-width: 500px){
  h1{
    font-size: 70px;
  }

body{
background-color: tan;
  }
p{
font-size: 18px;
}
img {
  width:100%;
  height: auto;
}
}

@media only screen and (min-width:500px){
  h1{
    font-size: 70px;
  }

body{
background-color: tan;
  }

  img {
    width:100%;
    height: auto;
  }
  p{
  font-size: 20px;
  }

}
@media only screen and (min-width:1024px){
  h1{
    font-size: 70px;
  }

body{
background-color: tan;
  }

  img {
    width:100%;
    height: auto;
  }
  p{
  font-size: 25px;
  }

}

@media only screen and (min-width:1440px){
  h1{
    font-size: 70px;
  }
body{
background-color: tan;
  }

  img {
    width:100%;
    height: auto;
  }
  p{
  font-size: 25px;
  }

}
