body{
  margin: 100px;
  background-color: tan;
}


.board {
  width: 800px;
  margin: 100px auto;

}
.red, .white{
  float: left;
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}




.container {
  width: 900px;


}
.header {
  width: 900px;
  height: 50px;
  background-color: teal;
  float:left;
}
.subhead {
  width: 900px;
  height: 100px;
  margin: 25px 0;
    background-color: teal;
 float:left;

}
.column {
  width: calc(( 900px - 50px ) / 3);
  height: 600px;
    background-color: teal;
    float:left;


}
.footer {
  width: 900px;
  height: 75px;
  margin: 25px 0 0 0;
    background-color: teal;
    float:left;
}
.margin25 {
  margin: 0 25px;

}

.bloghead{
  width: 600px;
  height: 100px;
  background-color: teal;
  float:left;
}

.blogbody{
  width: 500px;
  height: 300px;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  float:left;
  background-color: teal;
}

.blogpicture{
  width: 80px;
  height: 150px;
  float:left;
  margin-left: 580px;

  background-color: teal;
}

.blogfooter{
  width: 500px;
  height: 25px;
  float: left;
  background-color: teal;
  margin-bottom: 100px;
}

.tennisleft{
  width:100px;
  height:600px;
  float:left;
  background-color: teal;


}

.tennisright{
  width:100px;
  height:600px;
  float:left;
  background-color: teal;


}

.tennismiddlelong{
  width:560px;
  height:130px;
  float:left;
  background-color: teal;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tennismiddlestoutleft{
  width:270px;
  height: 450px;
  float: left;
  background-color: teal;
  margin-left: 20px;
}
.tennismiddlestoutright{
  width:270px;
  height: 450px;
  float:left;
  background-color: teal;
    margin-left: 20px;
      margin-right: 20px;
}
.tenniscontainer {
  width: 900px;
  float: left;
