body {
  margin: 0;
  overflow-x: hidden;
}
.container {
 width: 69vw;
 margin: 50px 10%;
}
.block-1, .block-2, .block-3 {
  width: 100px;
  height: 100px;
  float: left;
  /* opacity: .7; */

  border: 40px solid black;
}
.block-1 {
  border-top: 50px solid BlueViolet;
  border-right: 50px solid transparent;
}
.block-2 {

  margin: -50px;
  border-top: 50px solid Crimson;
  border-left: 50px solid transparent;
}
.block-3 {

  margin: -50px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom:60px solid DarkCyan;
}
